<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%# 部分テンプレートでフォームを表示する、_formを読み込むことができる  _が無いと読み込めない %>
        <%= render partial: "form" %>
    </div>
  </div>
</div>